@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(191, 187, 192);
  color: black;
  text-align: center;
  margin-top: 70px;
}

.welcome {
  margin: 30vh auto 0 auto;
  background-color: black;
  color: whitesmoke;
  border-radius: 30px;
  width: 40%;
  padding: 30px;
  h4 {
    font-style: italic;
  }
  h1 {
    margin: 30px 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-text {
  display: flex;
  gap: 10px;
  width: 38%;
  min-width: 250px;
  margin: 0 0 0 auto;
}

#button-bar {
  .display-option {
    display: inline-block;
    margin-right: 10px;
  }
  text-align: right;
  margin: 0 auto;
  padding: 10px;
  padding-right: 20px;
  width: 100%;
}

#display-region {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 90vw;
  margin: 0 auto;
  justify-content: space-around;
}

#display-region > .card {
  margin-top: 0;
  margin-bottom: auto;
  box-shadow: black 0 0 3px;
}

.pub-card {
  background: rgb(197, 197, 197);
}

.card-body {
  padding: 10px 10px 5px 10px;
  border: 0;
}

.term-data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .term-data-right {
    display: flex;
  }
  .mine.public-true:hover::after {
    content: "  MAKE PRIVATE";
    font-size: 0.6rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .mine.public-false:hover::after {
    content: "  MAKE PUBLIC";
    font-size: 0.6rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  p {
    margin-bottom: 0;
  }
}

.clickable:hover {
  cursor: pointer;
  text-shadow: darkgray 0 0 1px;
}

.term-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 8px;
  .timestamp {
    font-size: 0.5rem;
    text-align: right;
  }
  p {
    margin-bottom: 0;
  }
}

.term-name {
  color: black;
  text-decoration: none;
}

.add-form {
  width: 80%;
  min-width: 400px;
  margin: 0 auto;
}

#form-container, #aux-form-container {
  p, label {
    text-shadow: black 0 0 1px;
    font-size: 1.1rem;
  }
  // label {
  //   background-color: rgba(0, 0, 0, 0.5);
  //   padding: 4px 8px;
  //   text-align: center;
  //   border-radius: 10px;
  //   border: 2px solid black;
  // }
  button, input, select, textarea {
    box-shadow: black 0 0 3px;
  }
}

#aux-form-container {
  margin-top: 20px;
  select {
    margin-bottom: 4px;
  }
}

@media (min-width: 1440) {
  #display-region {
    grid-template-columns: repeat(4, 1fr);
  }
}
