@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 70px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-text {
  display: flex;
  gap: 10px;
  width: 40%;
  min-width: 250px;
  margin: 0 0 0 auto;
}

#button-bar {
  .display-option {
    display: inline-block;
    margin-right: 10px;
  }
  text-align: right;
  margin: 0 auto;
  padding: 10px;
  padding-right: 20px;
  width: 100%;
}

#display-region {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1440) {
  #display-region {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  margin-top: 0;
  margin-bottom: auto;
}

.pub-card {
  background: rgb(197, 197, 197);
}

.card-body {
  padding: 10px 10px 5px 10px;
}

.term-data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .term-data-right {
    display: flex;
  }
  .public:hover::after {
    content: "  Toggle visibility";
    font-size: 0.8rem;
  }
  p {
    margin-bottom: 0;
  }
}

.clickable:hover {
  cursor: pointer;
}

.term-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 8px;
  .timestamp {
    font-size: 0.5rem;
    text-align: right;
  }
  p {
    margin-bottom: 0;
  }
}

.term-name {
  color: black;
  text-decoration: none;
}

.add-term {
  width: 90%;
  margin: 0 auto;
}
